html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      background: black
}
@media(min-width: 720px){

	.navbar-toggle{
		display: none!important;
	}

}
.ui-page {
	}